@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";


#root {
    width: 100%;
}

body {
    place-items: start;
    max-width: 1600px;
}

.schedule-save-button {
    border: solid 3px black;
    justify-self: center;
}

.save-button-container {
    display: grid;
    padding: 50px;
}

.week-evennes-description {
    padding-top: 70px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 10px;
    width: 100%;
}

.nav-element-container {
    flex: 1;
    color: white;
    background-color: black;
    text-align: center;
    justify-content: center;
}

.nav-element-container__element {
    flex: 1;
    display: flex;
    align-items: center;
    height: 80px;
    text-align: center;
    justify-content: center;
    color: white;
    transition: background-color 0.3s ease;
}

.nav-element-container :hover{
    background-color: gray;
}